@use "../../abstracts/" as *;

.client-footer-wrapper {
  background-color: #ececec;
  border-top: 1px solid #bababa;
  > div {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: var(--content-width);
    padding: 20px 10px;
  }
  img {
    width: 200px;
    height: auto;
  }
  a {
    font-size: 16px;
    color: black;
    &:not(:last-child) {
      margin-right: 10px;
    }
    &:hover {
      color: rgb(var(--primary-color));
    }
  }
  @media (max-width: $tablet) {
    > div {
      flex-direction: column;
    }
  }
}
