@use "../../abstracts/" as *;

.pricing-section-wrapper {
  width: 100%;
  padding: 70px 20px;
  background-color: #f3f3f3;
  > div {
    margin: auto;
    max-width: var(--content-width);
  }
  h4 {
    font-size: 28px;
    text-align: center;
    font-weight: bold;
  }
  h5 {
    font-size: 24px;
  }
  h6 {
    font-size: 32px;
    margin: 15px 0;
    span {
      font-size: 15px;
    }
  }
  p {
    font-size: 18px;
  }

  .price-cards-wrapper {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
  }
  .price-card {
    height: fit-content;
    max-width: 350px;
    border: 1px solid var(--light-border-color);
    border-radius: 5px;
    padding: 20px;
    ol {
      margin-top: 20px;
      font-size: 18px;
      list-style-type: none;
      list-style-position: inside;
      text-align: left;
      font-weight: 300;
      li:before {
        content: "✔️ ";
      }
    }
    h5,
    h6,
    span {
      color: inherit;
    }
    &:first-of-type {
      background-color: white;
      color: black;
    }
    &:nth-of-type(2) {
      background-color: rgb(var(--primary-color));
      color: white;
      button {
        background-color: white;
      }
    }
  }
  button {
    border: 1px solid var(--light-border-color) !important;
  }
  @media (max-width: $laptop) {
    padding: 40px;
    h5 {
      font-size: 20px;
    }
  }
}
