@use "../../abstracts/" as *;

.elements-hover-overlay-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  &:hover {
    border: 2px solid rgb(var(--primary-color));
    background-color: rgba(var(--primary-color), 0.1);
    cursor: pointer;
    z-index: 2;
  }

  &:hover > .element-options {
    gap: 10px;
    display: flex;
  }

  .element-options {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgb(var(--primary-color));
    padding: 5px;
    color: white;
    line-height: 0;
  }
}
