@use "../../abstracts/" as *;

.email-editor-content-wrapper {
  height: calc(100vh - 70px);
  * {
    font-family: unset;
  }
  a,
  iframe {
    pointer-events: none;
  }
  a {
    color: inherit;
  }
  .section-element {
    position: relative;
    width: 100%;
    z-index: 1;
  }
  .column-element {
    padding: 10px;
  }
  .content-element {
    position: relative;
    z-index: 3;
  }
  .hide-on-desktop {
    border: 1px dashed grey;
    &::before {
      content: "Hidden on desktop";
      background-color: transparent;
    }
    div {
      opacity: 0.2;
    }
  }
  @media (max-width: 620px) {
    .hide-on-mobile {
      border: 1px dashed grey;
      &::before {
        content: "Hidden on mobile";
        opacity: 1;
      }
      div {
        opacity: 0.2;
      }
    }
  }
}
