@use "../../abstracts/" as *;

.email-editor-content-wrapper {
  height: 100%;
  a,
  iframe {
    pointer-events: none;
  }
  .section-element {
    position: relative;
    width: 100%;
    z-index: 1;
  }
  .column-element {
    padding: 10px;
  }
  .content-element {
    position: relative;
    z-index: 3;
  }
  .hide-on-desktop {
  }
  .hide-on-mobile {
  }
}
